<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wookong.mall.dal.dao.OrderRefundPaymentDOMapper">
  <resultMap id="BaseResultMap" type="com.wookong.mall.dal.dataobject.OrderRefundPaymentDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="refund_id" jdbcType="BIGINT" property="refundId" />
    <result column="pay_amount" jdbcType="BIGINT" property="payAmount" />
    <result column="pay_status" jdbcType="VARCHAR" property="payStatus" />
    <result column="pay_channel" jdbcType="VARCHAR" property="payChannel" />
    <result column="request_time" jdbcType="TIMESTAMP" property="requestTime" />
    <result column="pay_finish_time" jdbcType="TIMESTAMP" property="payFinishTime" />
    <result column="addition" jdbcType="VARCHAR" property="addition" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="deleted" jdbcType="CHAR" property="deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_id, refund_id, pay_amount, pay_status, pay_channel, request_time, pay_finish_time, 
    addition, operator, created_time, updated_time, deleted
  </sql>
  <select id="selectByExample" parameterType="com.wookong.mall.dal.dataobject.OrderRefundPaymentDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from order_refund_payment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="offSet !=null and length != null">
      limit ${offSet}, ${length}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_refund_payment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insertSelective" parameterType="com.wookong.mall.dal.dataobject.OrderRefundPaymentDO">
    insert into order_refund_payment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="refundId != null">
        refund_id,
      </if>
      <if test="payAmount != null">
        pay_amount,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="payChannel != null">
        pay_channel,
      </if>
      <if test="requestTime != null">
        request_time,
      </if>
      <if test="payFinishTime != null">
        pay_finish_time,
      </if>
      <if test="addition != null">
        addition,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="refundId != null">
        #{refundId,jdbcType=BIGINT},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=BIGINT},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="payChannel != null">
        #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null">
        #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payFinishTime != null">
        #{payFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addition != null">
        #{addition,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wookong.mall.dal.dataobject.OrderRefundPaymentDOExample" resultType="java.lang.Long">
    select count(*) from order_refund_payment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.wookong.mall.dal.dataobject.OrderRefundPaymentDO">
    update order_refund_payment
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="refundId != null">
        refund_id = #{refundId,jdbcType=BIGINT},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount,jdbcType=BIGINT},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="payChannel != null">
        pay_channel = #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null">
        request_time = #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payFinishTime != null">
        pay_finish_time = #{payFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addition != null">
        addition = #{addition,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wookong.mall.dal.dataobject.OrderRefundPaymentDO">
    update order_refund_payment
    set order_id = #{orderId,jdbcType=BIGINT},
      refund_id = #{refundId,jdbcType=BIGINT},
      pay_amount = #{payAmount,jdbcType=BIGINT},
      pay_status = #{payStatus,jdbcType=VARCHAR},
      pay_channel = #{payChannel,jdbcType=VARCHAR},
      request_time = #{requestTime,jdbcType=TIMESTAMP},
      pay_finish_time = #{payFinishTime,jdbcType=TIMESTAMP},
      addition = #{addition,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>